<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Potins Geek</title>
</head>

<body>
    <header>
        <h1>Potins Geek</h1>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Geeks Célèbres</a></li>
                <li><a href="#">Nouveautés</a></li>
                <li><a href="#">A Propos</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section class="gossip">
            <h2>Geek du mois!</h2>
            <div class="gossip-item">
                <img src="geek1.jpg" alt="Geek 1">
                <h3>Geek Célèbre 1</h3>
                <p>Barry Kitson</p>
            </div>
            <div class="gossip-item">
                <img src="" alt="Geek 2">
                <h3>Geek Célèbre 2</h3>
                <p>Ed Tourriol</p>
            </div>
        </section>

        <aside class="sidebar">
            <h2>À la Une</h2>
            <ul>
                <li><a class=bd  href="https://www.youtube.com/watch?v=IkX6dECprVI">Nouvelle Bande Dessinée Geek</a></li>

                <li><a class=itw href="https://www.youtube.com/watch?v=MKKtCg5cKiU">Interview Exclusive d_un Développeur Web</a></li>
                
                <li><a class=game10 href="https://www.youtube.com/watch?v=Nye0YjxgZqY">Top 10 des Jeux Vidéo du Moment</a></li>
            </ul>
        </aside>


        <section class="add-gossip">
            <h2>Ajouter un Nouveau Gossip</h2>
            <form action="/gossips" method="post">
                <label for="author">Auteur :</label>
                <input type="text" id="author" name="author" required><br>

                <label for="content">Contenu :</label>
                <textarea id="content" name="content" required></textarea><br>

                <button type="submit">Ajouter</button>
            </form>
            <section class="view-gossips">
        <h2>Voir Tous les Gossips</h2>
        <a href="/gossips">Voir tous les Gossips</a>
    </section>


    </div>
    

    <footer>
        <p>&copy; 2023 Potins Geek. Tous droits réservés.</p>
    </footer>
</body>

</html>
