<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
<title>Potins Geek</title>
</head>

<body>

    <h2>Liste des Gossips</h2>
    <ul>
        <% @gossips.each do |gossip| %>
            <li><strong><%= gossip.author %></strong>: <%= gossip.content %></li>
        <% end %>
    </ul>

</body>

</html>


